// hex colors
$color-blue-primary: #073E99;
$color-gray: #595959;
$color-green: #23652F;
$color-red: #A7272F;
$color-white: #ffffff;
$color-yellow: #986E32;

// abstract colors
$page-background-color: $color-white;
$game-background-color: $color-blue-primary;
$text-color: $color-white;
$error-color: $color-red;