.content {
  background-color: $game-background-color;
  display: flex;
  flex-direction: column;
  grid-area: main;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  @include for-tablet-portrait-up {
    border-radius: 8px;
    height: calc(100vh - 40px);
    margin: 20px 0;
  }

  @include for-tall-up {
    max-height: 1200px;
  }
}