.content {
  background-color: $game-background-color;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include for-tablet-portrait-up {
    border-radius: 8px;
    height: calc(100vh - 16px);
    margin: 8px auto;
    max-width: 404px;
  }
}