.page {
  background-color: $game-background-color;
  display: grid;
  grid-template-areas: ". main .";
  grid-template-columns: 0 1fr 0;
  height: 100vh;

  @include for-tablet-portrait-up {
    background-color: $page-background-color;
    grid-template-columns: 1fr minmax(404px, 1fr) 1fr;
  }
}