@keyframes wave {
  0%   { d: path("M166.586 0.0248751C94.9655 1.22761 25.6868 40.6172 0 87.2232V209H404V21.0727C404 21.0727 381.319 62.7971 350.738 63.6696C280.477 65.6741 256.112 -1.47854 166.586 0.0248751Z"); }
  50%  { d: path("M162.5 130.5C90.8792 131.703 50.5 115 0 97.2231V219H404V31.0726C404 31.0726 367.082 -0.372486 336.5 0.5C266.239 2.50453 252.026 128.997 162.5 130.5Z"); }
  100% { d: path("M166.586 0.0248751C94.9655 1.22761 25.6868 40.6172 0 87.2232V209H404V21.0727C404 21.0727 381.319 62.7971 350.738 63.6696C280.477 65.6741 256.112 -1.47854 166.586 0.0248751Z"); }
}

.wave {
  bottom: 0px;
  padding-bottom: 52%;
  position: absolute;
  transition: 2s;
  width: 100%;

  svg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  svg path {
    animation: wave 12s infinite;
  }
}
