@font-face {
  font-family: "Indeed Sans Regular";
  src: url("../fonts/IndeedSans_W_Rg.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Indeed Sans Bold";
  src: url("../fonts/IndeedSans_W_Bd.woff2") format("woff2");
  font-weight: 400;
}